@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
  font-family: "Sprintura";
  src: url("./fonts/Sprintura\ Demo.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "toxigenesis";
  src: url("./fonts/toxigenesis\ bd.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.heroHeadingAnimated{
  font-family: "Sprintura";
}
.sloganFont{
  font-family: "toxigenesis";
}
.tagline{
   font-family: "Raleway", serif;
   font-weight:600;
   color: white;
}